.deck-container .theme-menu {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 10px;
  left: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
  color: #888;
}
.js .deck-container .theme-menu {
  display: block;
}
.deck-container .theme-menu h2 {
  float: left;
  font-size: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
  background: #ccc;
  color: #444;
  text-shadow: none;
  font-family: sans-serif;
  font-weight: bold;
}
.deck-container .theme-menu label {
  float: left;
  display: block;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}
.deck-container .theme-menu select {
  float: left;
  display: block;
  font-size: 14px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}






body {
    height:100%;
    overflow: hidden !important; 
}

h1, h2, h3 {
    color:white !important;
}

/* title slide */

#title-slide {
    height:100%;
}

.slide table, .slide td {
    height:100%;
    width:100%;
    vertical-align:middle !important;
}





/* college pix */

#college-imgs {
    position:relative;
    height:700px;
    overflow: hidden !important; 
}

#college img {
    margin:100px auto 0;
    padding:0;
    height: 600px;
}












/* demo slide */

#demo {
    height:100%;
    overflow:none;
}

#demo table, #demo td {
    height:100%;
    width:100%;
    vertical-align:middle !important;
}

/* conversion */

#conversion div {
    position:relative;
    text-align:center;
}

#conversion img {
    margin:0;
    padding:0;
    height:700px;
    position:absolute;
}

#cookies {}

#ray {
    display:none;
    left:230px;
    top:-50px;
}

/* screens */

.iphone-control-container-container, .iphone-screen-container-container {
    position:relative;
    left:-125px;
/*    z-index:-1;*/
/*    height:381px;*/
/*    width:254px;*/
/*    overflow:hidden;*/
}

.iphone-screen-container, .iphone-control-container {
    position:absolute;
    left:50%;
    z-index:-1;
    height:600px;
    width:254px;
    overflow:hidden;
}

.iphone-screen, .iphone-control {
    width:1270px !important;
    max-width:none !important;
    position:relative;
/*    top: 108px;*/
}

/* biz-model */

#biz-model img {
    position:relative;
    margin:100px auto 0;
    padding:0;
    height: 600px;
}

#vendo {
    top:-100px;
    left:-100px;
}

#vendo2 {
    top:-800px;
    left:-100px;
    visibility:hidden;
}

#looker {
    top:-1700px;
    left:106px;
}

#feet {
    height:150px !important;
    top:-976px;
    left:150px;
}


/* ask */

#ask h1 {
    color:white !important;
}

/*hide arrows numbering*/

.deck-next-link, .deck-prev-link, .deck-status {
    display:none !important;
}

#title-slide {
/*    background-color:red;*/
}

img.titled {
    height: 70%;
}

img.no-title {
    height: 90%;
}
